<configuration>
   <runtime>
      <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
       <dependentAssembly>
         <assemblyIdentity name="FarPoint.Win.Spread"
                           publicKeyToken="327c3516b1b18457"/>
         <!-- Redirecting to version 6.0.3504.2008 of the assembly. -->
         <bindingRedirect oldVersion="1.0.1.0-6.0.3504.2008"
                          newVersion="6.0.3505.2008"/>
       </dependentAssembly>
      </assemblyBinding>
   </runtime>
</configuration>
